*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

:root{
   
    --White: hsl(0, 0%, 100%);
    --lightPink: hsl(275, 100%, 97%);
    --grayishPurple: hsl(292, 16%, 49%);
    --darkPurple: hsl(292, 42%, 14%);
}

.attribution {
    font-size: 11px;
    text-align: center;
}

  .attribution a {
    color: hsl(228, 45%, 44%);
}
body{
    background-color: var(--lightPink);
}
figure{
    border-top: 1px var(--grayishPurple) solid;
    color:var(--darkPurple);
}

